{% if Category is not null %}
    <script>
        $(function () {
            $('.ec-topicpath').after($('#plugin_category_content_content').html());
        });
    </script>
    <div id="plugin_category_content_content">
        <div class="row no-margin">
            {{ Category.content|raw }}
        </div>
    </div>
{% endif %}
